<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

    <!-- Include MathJax for LaTeX support -->
    <script type="text/javascript">
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        },
        svg: {
          fontCache: 'global'
        }
      };
    </script>
    <script type="text/javascript" async
      src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-svg.js"></script>

    <!-- Favicon (optional) -->
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">

</head>
<body>
    <!-- The content of the page will be injected here -->
    {{ content }}
</body>
</html>
